<h1>Wheeliebike Rolodex Bike List </h1>

<% @motorcycles.each.with_index do |motorcycle, i| %>
  <h3>Bike <%= i + 1 %></h3>
  <p>Make: <%= motorcycle.make %></p>

  <% if motorcycle.model != nil %>
    <p>Model: <%= motorcycle.model %></p>
  <% end %>

  <% if motorcycle.year != nil %>
    <p>Year: <%= motorcycle.year %></p>
  <% end %>

  <% if motorcycle.size != nil %>
    <p>Size: <%= motorcycle.size %> cc</p>
  <% end %>
  
  <p><a href="/motorcycles/<%= motorcycle.id %>">View bike <%= i + 1 %></a>
  <% if current_user.motorcycles.include?(motorcycle) %>
    <br>
    <p><a href="/motorcycles/<%= motorcycle.id %>/edit">Edit Details</a></p>
    <form method="POST" action="/motorcycles/<%= motorcycle.id %>">
    <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  <% end %>
  <br>
<% end %>


<hr>

<p><a href="/">Home</a></p>
<% if current_user %>
  <p><a href="/motorcycles/new">Create a New Motorcycle</a></p>
  <p><a href="/motorcycles">View All Motorcycles</a></p>
  <p><a href="/users/<%= current_user.slug %>">Your Profile Page</a></p>
  <p><a href="/logout">Logout</a></p>
<% end %>