<p>Make: <%= @motorcycle.make %></p>

<% if @motorcycle.model != nil %>
  <p>Model: <%= @motorcycle.model %></p>
<% end %>

<% if @motorcycle.year != nil %>
  <p>Year: <%= @motorcycle.year %></p>
<% end %>

<% if @motorcycle.size != nil %>
  <p>Size: <%= @motorcycle.size %></p>
<% end %>

<p>Bike Owner: <a href="/users/<%= @bike_owner %>"><%= @bike_owner %></a></p>

<br><br>

<p><a href="/users/<%= current_user.slug %>">Your Profile</a></p>